<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
  
<web-app>   
    <!-- <servlet>  
        <servlet-name>sanhotara</servlet-name>  
        <servlet-class>Sourceclass.DemoServlet</servlet-class>  
    </servlet>   
    <servlet-mapping>  
        <servlet-name>sanhotara</servlet-name>  
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    -->
    <servlet>  
        <servlet-name>sanhotara</servlet-name>  
        <jsp-file>/welcome.jsp</jsp-file>  
  
        <init-param>  
            <param-name>dname</param-name>  
            <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
        </init-param>  
  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>sanhotara</servlet-name>  
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>  

    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>Sourceclass.DemoCookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/welcomehere</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>  